.header-bg {
    background: var(--cor-12);
}

.header {
    color: var(--cor-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 160px;
}

.header-lista {
    display: flex;
    gap: 40px;
}